/* img {
    width: 500px;
    height: 600px;
 } */
body {
    background-color: rgb(158 178 198);
}

main {
    width: 88%;
    margin: 0 auto;
    margin-top: 25px;
}

footer {
    width: 88%;
    margin: 0 auto;
}

.border {
    border: none;
}

.container {
    overflow: hidden;
}

.height {
    height: 100vh;
}

.image {
    max-width: 400px;
    min-height: 200px;
}

.padding {
    padding-top: 140px;
}

.nav-link {
    color: #ffffff;
}

.active {
    background-color: rgb(124 163 202);
    /* background-color: #a6c2de; */
}

.logo {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.margin {
    border: none;
    margin-top: 0.6rem;
    background: linear-gradient(to left, black, rgb(0, 174, 255));
    height: 13px;
    opacity: .9;
}

.shrink img {
    transition: 0.5s ease;
    border: solid 1.5px black;
}

.shrink img:hover {

    -webkit-transform: scale(0.88);
    -ms-transform: scale(0.88);
    transform: scale(0.88);
    transition: 1s ease;
}

.grow img {
    transition: 1s ease;
}

.grow img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.selfImg {
    width: 600px;
    max-width: 100%;
    height: auto;
}

@media and (max-width: )