/* img {
    width: 500px;
    height: 600px;
 } */
body{
    background-color:rgb(158 178 198);
}

main {
    width: 88%;
    margin: 0 auto;
    margin-top: 25px;
}

footer {
    width: 88%;
    margin: 0 auto;
}
.border {
    border: none;
}

.height {
    height: 100vh;
}

.padding {
padding-top: 140px;
}

.nav-link {
    color: #ffffff;
}

.active {
    background-color:rgb(124 163 202);
    /* background-color: #a6c2de; */
}

.logo {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.margin {
    border: none;
    margin-top: 0.6rem;
    background: linear-gradient(to left, black, rgb(0, 174, 255));
    height: 13px;
    opacity: .9;
}