/* img {
    width: 500px;
    height: 600px;
 } */

main {
    width: 88%;
    margin: 0 auto;
    margin-top: 25px;
}

footer {
    width: 88%;
    margin: 0 auto;
}

.height {
    height: 100vh;
}

.margin {
padding-top: 110px;
}

.nav-link {
    color: #ffffff;
}

.active {
    background-color:rgb(113 157 201);
    /* background-color: #a6c2de; */
}

.logo {
    font-size: 50px;
    display: flex;
    justify-content: center;
}
